body {
    background-color: lightgrey;
    background-image: url("../images/01-02-02_background-img.jpg");
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    width: clamp(160px, 35vw, 480px); /* min, preferred (viewport), max */
}

p {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

