/* body{
    background-color: rgb(127, 129, 255);
    background-image: url("../images/01-02-02_background-img.jpg");
} */

body{
    background-color: rgb(127, 129, 255);
    background-image: url("/assets/images/01-02-02_background-img.jpg");
}
p{
    font-weight: bold;
}